<style>
.ng-invalid{ background-color: lightpink; }
.ng-valid{background-color: green;}
span.error(color: red; font-weight: bold;)
</style>

<h2>Check Out </h2>
<p>please enter the details</p>

<form name="shippingForm" novalidate>
	<div class="well">
		<h3>Ship to</h3>

		<div class="form-group">
		<label>Name</label>
		<input name="name" class="form-control" ng-model="data.shipping.name" required />
		<span class="error" ng-show="shippingForm.name.$error.required">please enter name</span>
		</div>
		
		<div class="form-group">
		<label>Street</label>
		<input name="street" class="form-control" ng-model="data.shipping.street" required />
		<span class="error" ng-show="shippingForm.street.$error.required">Field required</span>
		</div>

		<div class="form-group">
		<label>City</label>
		<input name="city" class="form-control" ng-model="data.shipping.city" required />
		<span class="error" ng-show="shippingForm.city.$error.required">City required</span>
		</div>

		<div class="form-group">
		<label>state</label>
		<input name="state" class="form-control" ng-model="data.shipping.state" required/>
		<span class="error" ng-show="shippingForm.state.$error.required" >state required</span>
			</div>

		<div class="form-group">
		<label>Zip</label>
		<input name="zip" class="form-control" ng-model="data.shipping.zip" required />
		<span class="error" ng-show="shippingForm.zip.$error.required">Zip required</span>
			</div>

		<div class="form-group">
		<label>Country</label>
		<input name="country" class="form-control" ng-model="data.shipping.country" required />
		<span class="error" ng-show="shippingForm.country.$error.required">country required</span>
			</div>

		<h3>Options</h3>
		<div class="form-group">
    	<label>
        <input name="giftwrap" class="form-control" type="checkbox" ng-model="data.shipping.giftwrap" />
        Gift wrap these items
    	</label>
			</div>

	<div class="text-center">
    <button ng-disabled="shippingForm.$invalid" ng-click="sendOrder(data.shipping)" class="btn btn-primary">Complete order</button>
	</div>
	</div>
</form>